.background{
  position: absolute;
  z-index: -1;
}
.header-bg-top{
  height: 28px;
  width: 100vw;
  background-color: #424242;
}
.header-bg-bottom{
  height: 112px;
  width: 100vw;
  background-color: #f2f2f3;
}
.footer-bg-top{
  width: 100vw;
  height: 362px;
  background-color: #434243;
}
.footer-bg-bottom{
  height: 160px;
  background-color: #303133;
}