/* Basket Dialog */
.basket-dialog_content{
  width: 500px;
  margin: 20% auto;
}
.cart-image_box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 500px;
  background-color: #3f3f40;
  border-radius: 3px 3px 0 0;
  img{
    display: block;
    margin: auto;
    height: 20px;
  }
}

/* Close modal cross sign */
.close-modal {
  position: relative;
  width: 30px;
  height: 30px;
  &:hover{
    opacity: 0.3;
  }
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 28px;
    background-color: #f4f4f4;
    border-radius: 2px;
    transform-origin: center;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

/* List Basket */
.modal-basket{
  min-height: 300px;
  width: 500px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 0 0 3px 3px;
}
.added-item{
  display: flex;
  align-items: center;
}
.plus-minus_item{
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.add-item,
.reduce-item,
.delete-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid #3a7ca8;
  border-radius: 2px;
  color: #306284;
  cursor: pointer;
  &:hover{
    background-color: rgba(58, 124, 168, 0.91);
    opacity: 0.8;
    color: white;
  }
}
.added-item-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid cadetblue;
  border-radius: 2px;
  height: 20px;
  width: 40px;
  font-size: 18px;
}
.item-total-cost{
  width: 60px;
  color: #aa294b;
  margin: 0 5px 0 5px;
}
.added-item-title{
  width: 190px;
}
.book-mini-img,
.delete-item,
.amount-and-cost,
.added-item-title{
  margin-right: 10px;
}
/* delete sign (cross) */
.delete-item{
  position: relative;
}
.close {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #3a7ca8;
}
.close:before, .close:after {
  right: 8px;
  position: absolute;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
  border-radius: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* line, total cost & checkout button */
.line{
  margin: 2px 0;
  height: 2px;
  border-radius: 1px;
  background-color: #a2a2a2;
}
.total_checkout{
  margin: 50px 0 0 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 250px;
  background-color: #6fa158;
  border-radius: 4px;
  font: bold 20px "Segoe WP", sans-serif;
}
.basket-button{
  height: 40px;
  width: 150px;
  background: linear-gradient(to top, #79b260, #92d774);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: color 0.4s;
  &:hover{
    color: #636364;
  }
}
.total-price{
  font-size: 23px;
}
