.basket-dialog{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0, 0.5);
}
.basket-dialog_content{
  width: 500px;
  margin: 20% auto;
}
.cart-image_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #3f3f40;
  width: 500px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  img{
    height: 20px;
    margin-left: 255px;
  }
}
.modal-basket{
  min-height: 300px;
  width: 500px;
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.added-item{
  display: flex;
  align-items: center;
}
.plus-minus_item{
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.add-item,
.reduce-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-weight: bold;
  font-size: 25px;
  border: 1px solid #3a7ca8;
  border-radius: 2px;
  color: #306284;
}
.added-item-amount{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid cadetblue;
  border-radius: 2px;
  height: 20px;
  width: 40px;
  font-size: 18px;
}
.item-total-cost{
  width: 60px;
  color: #aa294b;
  margin-left: 10px;
  margin-right: 10px;
}
.add-item:hover,
.reduce-item:hover{
  cursor: pointer;
  background-color: rgba(58, 124, 168, 0.91);
  opacity: 0.8;
  color: white;
}
.line{
  height: 1px;
  background-color: #a2a2a2;
  border-radius: 1px;
  margin: 2px 0;
}
.added-item-title{
  width: 190px;
}
.book-mini-img,
.delete-item,
.amount-and-cost,
.added-item-title{
  margin-right: 10px;
}
// cross - delete sign
.delete-item{
  position: relative;
  height: 20px;
  width: 20px;
  border: solid 1px #457caa;
  border-radius: 2px;
}
.close {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #3a7ca8;
}
.close:before, .close:after {
  right: 8px;
  position: absolute;
  content: ' ';
  height: 18px;
  width: 2px;
  background-color: #333;
  border-radius: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.basket-button{
  height: 40px;
  width: 150px;
  background-image: linear-gradient(to top, #79b260, #92d774);
  font-family: SegoeWP;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
}
.basket-button:hover{
  color: #636364;
}
.line{
  height: 2px;
}
.total_checkout{
  margin-left: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 60px;
  width: 250px;
  background-color: #6fa158;
  border: none;
  border-radius: 2px;
  font-family: SegoeWP;
  font-weight: bold;
}
.total-price{
  font-size: 23px;
}
// close modal cross sign
.close-modal {
  position: relative;
  width: 30px;
  height: 30px;
}
.close-modal:hover {
  opacity: 0.3;
}
.close-modal:before, .close-modal:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 3px;
  background-color: #f4f4f4;
}
.close-modal:before {
  transform: rotate(45deg);
}
.close-modal:after {
  transform: rotate(-45deg);
}