.books__sci-fi{
  position: relative;
  height: 822px;
}
.books__sci-fi-div {
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 10px;
}
.books-p{
  padding: 8px 0 0 5px;
  height: 40px;
  width: 120px;
  overflow: hidden;
  cursor: pointer;
}
.long-text {
  height: auto;
  overflow: visible;
}
.short-text {
  width: 95px;
}
.orange-heart,
.dark-heart,
.add-to-cart-grey,
.add-to-cart-green {
  height: 20px;
  width: 20px;
  background-size: cover;
}
.orange-heart{
  background-image: url("/img/orange-heart.svg");
}
.dark-heart{
  background-image: url("/img/dark-heart.svg");
}
.add-to-cart-grey{
  background-image: url("/img/add-to-cart-grey.svg");
}
.add-to-cart-green{
  background-image: url("/img/add-to-cart-green.svg");
}

/* Pagination */
.pagination-container{
  padding-top: 25px;
  margin-left: 520px;
  position: absolute;
  bottom: 0;
}
.btn {
  height: 28px;
  width: 24px;
  border: none;
  cursor: pointer;
  color: #5b5b5b;
  &-active {
    border: 1px solid #bdbdbe;
    border-bottom: 4px solid #93bb6b;
  }
}
.back-btn,
.next-btn {
  color: transparent;
}