.books-list__nav_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
}
.product-list__nav{
  display: flex;
  padding: 0;
  margin: 0;
}
.books-list__side-box{
  width: 243px;
  height: 40px;
  margin: -1px 0 0 1px;
  border: 1px solid #d4d4d5;
}
.option{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: -1px;
  width: 140px;
  height: 39px;
  border: 1px solid #d8dce0;
  border-left: none;
  border-top: none;
  text-shadow: 0.5px 0.9px 0 #fff;
  font-size: 17px;
  font-weight: 300;
  color: #6b6969;
  background-color: #e1e4e8;
  &:hover{
    font-size: 18px;
  }
  &.active{
    border-bottom: none;
    background-color: transparent;
    font-weight: bold;
    color: #3f3f40;
  }
}
#componentContainer{
  width: 170px;
  align-self: flex-end;
  margin: 20px 0 0 600px;
}