/* Variables */
$cw:996px;
$ff:SegoeWP;

.books-list{
  position: relative;
  height: 822px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  user-select: none;
}
.book{
  display: flex;
  align-items: center;
  min-height: 150px;
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  color: #646464;
  height: 260px;
  width: 150px;
  flex-direction: column;
}


/* DISCOUNT LABEL */
.book-discount{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  position: absolute;
  z-index: 2;
  margin: 2px 5px 0 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #f05356;
  color: white;
  font-size: 18px;
}
.discount-number{
  color: #ffffff;
  font-family: "SegoeWP", serif;
}
.discount-text{
  padding: 2px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}


.book-link_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #555454;
  &:hover{
    color: black;
    font-weight: bold;
  }
  &:active{
    color: red;
    font-weight: bold;
  }
}
.book-img{
  padding-left: 5px;
  height: 159px;
}
.book-actions{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 116px;
  font-weight: bold;
  font-size: 22px;
  color: #f05356;
  margin-top: 5px;
}
.toggle-wishlist{
  height: 20px;
  width: 20px;
  &:hover{
    transform: scale(1.15);
  }
}
.book-title{
  height: 40px;
  width: 120px;
  overflow: hidden;
  cursor: pointer;
}
.long-text {
  overflow: visible;
}
.short-text {
  width: 100px;
}
.orange-heart,
.dark-heart,
.add-to-cart-grey,
.add-to-cart-green{
  height: 24px;
  width: 24px;
  background-size: cover;
  display: inline-block;
}
.add-to-cart:hover{
  transform: scale(1.15);
}
.add-to-cart-grey,
.add-to-cart-green{
  margin-top: 5px;
}
.orange-heart{
  background-image: url("/img/orange-heart.svg");
}
.dark-heart{
  background-image: url("/img/dark-heart.svg");
}
.add-to-cart-grey{
  background-image: url("/img/add-to-cart-grey.svg");
}
.add-to-cart-green{
  background-image: url("/img/add-to-cart-green.svg");
}


/* Pagination */
.pagination-container{
  padding-top: 25px;
  margin-left: 520px;
  position: absolute;
  bottom: 0;
}
.btn {
  height: 28px;
  width: 24px;
  border: none;
  cursor: pointer;
  color: #5b5b5b;
  &-active {
    border: 1px solid #bdbdbe;
    border-bottom: 4px solid #93bb6b;
  }
}
.back-btn,
.next-btn {
  color: transparent;
}