@import "reset-styles.css";
@font-face {
  font-family: SegoeWP;
  src: url("/assets/fonts/Segoe WP Regular.ttf");
}

/* Variables */
$cw:996px;
$ff:SegoeWP;

.slug-wrapper{
  display: flex;
  font-family: $ff;
  min-width: 1280px;
}

@import "header";

/* Books List */
#books-list-wrapper{
  order: 4;
  margin-top: 14px;
  width: 800px;
  display: inline-flex;
  .books-list_title{
    font-size: 24px;
    font-weight: bold;
    color: #464646;
    box-sizing: border-box;
    border-bottom: none;
    width: inherit;
    h4{
      margin: 18px 0 15px 30px;
    }
  }
  .books-list__container{
    border: 1px solid #d4d4d5;
    margin-top: 1px;
    section{
      display: flex;
      flex-direction: column;
    }
  }
}

@import "aside-left";
@import "footer";

