.checkout-form_wrapper{
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #3f3f40;
}
.checkout-form{
  width: 800px;
  button{
    background-color: #52a452;
    font-weight: bold;
    margin-top: 25px;
    height: 60px;
    width: 250px;
    border-radius: 1px;
    background-image: linear-gradient(to top, #79b260, #92d774);
    color: #ffffff;
    font-size: 24px;
    font-family: SegoeWP;
    &:hover{
      color: #3c3f41;
    }
    &:active{
      background-color: white;
      color: #52a452;
    }
  }

  p{
    margin: 30px 0;
    font-size: 20px;
    line-height: 1.5;
  }
}
.order-placement-header{
  font-size: 25px;
  font-weight: bold;
  margin: 20px auto;
}
.your_contact-details{
  display: flex;
  flex-direction: column;
  input{
    margin-left: 0;
    padding: 0 10px;
    &::placeholder{
      padding-left: 10px;
    }
  }
}
.name_family-name,
.email_checkout{
  height: 25px;
}
.label__name_family-name{
  color: #3f3f40;
  padding: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.checkout-orders{
  h1{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
  }
}
.checkout_quantity{
  width: 50px;
}
.checkout-order_merch__container{
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}
.checkout-order_merch{
  display: flex;
  margin-bottom: 20px;
  img{
    width: 7%;
  }
  .checkout-book_name{
    width: 500px;
    padding-left: 15px;
    &:hover{
      text-decoration: underline;
    }
  }
  .cost{
    width: 100px;
    font-weight: bold;
    color: green;
    padding-left: 100px;
  }
}
#edit-products{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  &:hover {
    color: #52a452;
    cursor: pointer;
    font-weight: bold;
  }
}
.delivery_to-post__wrapper{
  display: flex;
  flex-direction: column;
  h1{
    margin: 30px 0 15px 0;
    font-size: 20px;
    font-weight: bold;
  }
}
.delivery_to-post{
  display: flex;
  flex-direction: column;
}
.self-pickup{
  padding: 0 0 5px 4px;
  label{
    color: #3f3f40;
  }
}
#delivery-method{
  width: 450px;
}
#edit-products:hover{
  color: #52a452;
  cursor: pointer;
}
.delivery_to-post_content,
.checkout_courier-delivery {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 14px 6px;
  display: flex;
  flex-direction: column;
}
.courier-delivery_checkbox{
  label{
    margin-left: 5px;
  }
  input{
    margin: 4px 0 15px 15px;
  }
}
.active-label{
  color: #2e3032;
}
.address-for-delivery{
  display: flex;
  flex-direction: column;
  width: 500px;
  input{
    margin-left: 3px;
  }
}
.payment{
  display: flex;
  flex-direction: column;
  h1{
    font-size: 20px;
    padding-top: 30px;
    font-weight: bold;
  }
  select{
    height: 30px;
  }
  label{
    color: black;
    margin-bottom: 5px;
  }
  input{
    margin-left: 0;
    height: 30px;
  }
  textarea{
    height: 100px;
    resize: none;
    padding: 5px;
  }
}
#pay-method{
  margin: 20px 0;
  color: #6d6d6d;
}
.checkout_total-cost{
  margin: 20px 0;
  padding: 30px;
  border: 1px solid black;
  h1{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  .total_cost{
    font-size: 23px;
    font-weight: bold;
    color: green;
    margin-left: 2px;
  }
}