// DISCOUNT LABEL

.discount{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  position: absolute;
  z-index: 2;
  margin: 2px 5px 0 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #f05356;
  color: white;
  font-size: 18px;
  span{
    color: #ffffff;
    font-family: $ff;
    font-size: 18px;
  }
  .off{
    padding: 2px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
  }
}