// DISCOUNT LABEL

.discount{
  align-self: end;
  position: absolute;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border:none;
  border-radius: 50%;
  background-color: #f05356;
  padding: 0;
  color: white;
  font-size: 19px;
  span{
    color: #ffffff;
    font-family: $ff;
    font-size: 19px;
    font-weight: bold;
  }
  .off{
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
  }
}