// DISCOUNT LABEL

.discount{
  align-self: end;
  position: absolute;
  margin-top: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border:none;
  border-radius: 50%;
  background-color: #f05356;
  padding: 0;
  color: white;
  font-size: 18px;
  span{
    color: #ffffff;
    font-family: $ff;
    font-size: 18px;
  }
  .off{
    padding: 2px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
  }
}