@font-face {
  font-family: SegoeWP;
  src: url("/assets/fonts/Segoe WP Regular.ttf");
}
.dialog-form{
  font-family: "Segoe WP", sans-serif;
  padding: 15px;
  h1{
    font-weight: bold;
    font-size: 18px;
  }
  hr{
    margin: 10px 0 20px 0;
  }
  label{
    font-weight: bold;
  }
  .all-inputs{
    background-color: #38404f;
    width: 290px;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    color: white;
    padding: 3px;
  }
  .all-inputs:hover{
    cursor: default;
  }
}

.white-rabbit__container{
  height: 250px;
  width: 200px;
}
.white-rabbit{
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.dialog{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  z-index: 3;
  display: flex;
  user-select: none;
}
.dialog__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bfbfc1;
  margin: auto;
  background: rgb(43,113,45);
  background: radial-gradient(circle, rgb(82, 82, 83) 0%, rgb(51, 53, 52) 100%);
  border-radius: 10px;
  height: 600px;
  width: 400px;
}
.sign-in__container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 300px;
}
.forgot-pass{
  margin-left: 180px;
  font-size: 14px;
  text-decoration: underline;
}
.forgot-pass:hover{
  cursor: pointer;
}
.forgot-pass:active{
  color: #f57375;
}
.sign-in-but{
  margin: 19px 0 0 0;
  width: 290px;
  height: 40px;
  font-size: 18px;
  background-color: #6db661;
  border: none;
  color: #3c3f41;
  font-weight: bold;
}
.sign-in-but:hover{
  cursor: pointer;
  background: rgb(32,140,34);
  background: linear-gradient(0deg, rgba(32,140,34,1) 50%, rgba(9,196,9,1) 82%);
}
.sign-in-but:active{
  background-color: #92d774;
  color: #d5d5da;
}
.create-account{
  text-decoration: underline;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 14px;
}
.create-account:active{
  color: #f57375;
}
.create-account:hover{
  cursor: pointer;
}
.error_fill-up__serv{
  color: #f48b53;
  font-size: 18px;
  margin-bottom: 10px;
}
.close-login{
  align-self: flex-end;
  margin: 5px;
}