@font-face {
  font-family: SegoeWP;
  src: url("/assets/fonts/Segoe WP Regular.ttf");
}
.dialog-form{
  font-family: "Segoe WP", sans-serif;
  padding: 15px;
  h1{
    font-weight: bold;
    font-size: 18px;
  }
  hr{
    margin: 10px 0 20px 0;
  }
  label{
    font-weight: bold;
  }
  .all-inputs{
    background-color: #38404f;
    width: 290px;
    margin: 5px 0;
    color: white;
    padding: 3px;
    &:hover {
      cursor: default;
    }
  }
}
.white-rabbit__container{
  height: 250px;
  width: 200px;
}
.white-rabbit{
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.dialog{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  z-index: 3;
  display: flex;
  user-select: none;
}
.dialog__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bfbfc1;
  margin: auto;
  background: radial-gradient(circle, rgb(82, 82, 83) 0%, rgb(51, 53, 52) 100%);
  border-radius: 10px;
  height: 600px;
  width: 400px;
}
.sign-in__container{
  width: 300px;
}
.forgot-pass{
  margin-left: 180px;
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: #f57375;
  }
}
.sign-in-but{
  margin: 19px 0 0 0;
  width: 290px;
  height: 40px;
  font-size: 18px;
  background-color: #6db661;
  border: none;
  color: #3c3f41;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(32, 140, 34, 1) 50%, rgba(9, 196, 9, 1) 82%);
  }
  &:active {
    background-color: #92d774;
    color: #d5d5da;
  }
}
.create-account{
  display: block;
  margin-top: 20px;
  text-decoration: underline;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: #f57375;
  }
}
.error_fill-up__serv{
  color: #f48b53;
  font-size: 18px;
  margin-bottom: 10px;
}
.close-login{
  align-self: flex-end;
  margin: 5px;
}