.log-out_wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 500;
  background: rgba(0,0,0, 0.5);
  color: white;
}
.log-out_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  height: 100px;
  width: 500px;
  background-color: #3f3f40;
  margin: 4% auto;
}
.log-out_yes-no{
  display: flex;
  button{
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 150px;
    margin: 10px;
    background-color: #52a452;
  }
  button:hover{
    background-color: #92d774;
  }
  button:active{
    color: #3f3f40;
    font-weight: bold;
  }
}