@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset-styles.css";
@font-face {
  font-family: SegoeWP;
  src: url("/assets/fonts/Segoe WP Regular.ttf");
}

$ff:SegoeWP;

@import "header";
@import "slide-bar";
@import "aside-left";
.main-wrapper{
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
}
.main-content-wrapper{
  order: 4;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  border-top: none;
  .main__product-list-content{
    width: 798px;
    display: flex;
    justify-content: right;
    section{
      width: 798px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .product-list__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 39px;
        ul{
          display: flex;
          padding: 0;
          margin: 0;
          li{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            width: 140px;
            height: 37px;
            border: solid 1px #d8dce0;
            border-left: none;
            background-color: rgba(216, 220, 224, 0.71);
            text-shadow: 0.5px 0.9px 0 #fff;
            font-size: 17px;
            font-weight: 300;
            color: #6b6969;
            &:first-child{
              font-weight: bold;
              border-bottom: none;
              background-color: white;
            }
            .shadow{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 139px;
              height: 37px;
              border-left: solid 1px white;

            }
            .box-before{
              position: absolute;
              left:342px;
              top: 552px;
              height: 1px;
              width: 1px;
              background-color: #d8dce0;
            }
            .box-after{
              position: absolute;
              left:482px;
              top: 551px;
              height: 1px;
              width: 1px;
              background-color: #d8dce0;
            }
            a{
              padding: 1px;
              text-decoration: none;
              color: black;
              opacity: 75%;
              &:hover{
                font-size: 19px;
              }
            }
          }
        }
        .big-box{
          width: 238px;
          height: 37px;
          border-bottom: 1px solid #d4d4d5;
        }
      }
      .product-list__best-sellers{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 8px 5px 0 5px;
        border: 1px solid #d4d4d5;
        border-top: none;
        div{
          position: relative;
          font-size: 15px;
          font-weight: 300;
          text-align: center;
          color: #646464;
          height: 256px;
          width: 125px;
          display: flex;
          flex-direction: column;
          margin: 0 16px;
          @import "discount";
          p{
            margin: 0 auto;
            display: block;
          }
          .p-bests{
            width: 90px;
          }
          img{
            height: 159px;
          }
          span{
            display: block;
            font-weight: bold;
            font-size: 22px;
            color: #f05356;
            padding-top: 5px;
          }
        }
        .art{
          color: inherit;
          font: inherit;
        }
        .immortals{
          padding: 0 7px;
        }
      }
    }
  }
}
#best-sel-box{
  border-left: 1px solid #d4d4d5;
}
.bs-anchor-book{
  p:hover{
    color: black;
    font-weight: bold;
  }
  p:active{
    color: red;
    font-weight: bold;
  }
  img{
    padding-left: 5px;
  }
  span{
    padding-top: 5px;
  }
}

@import "footer";
