@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset-styles.css";
@font-face {
  font-family: SegoeWP;
  src: url("/assets/fonts/Segoe WP Regular.ttf");
}

$ff:SegoeWP;
@import "header";
@import "slide-bar";
@import "aside-left";
.main-wrapper{
  display: flex;
  justify-content: center;
  font-family: $ff;
}
#best-sel-box{
  border-left: 1px solid #d4d4d5;
}
.bs-anchor-book{
  p:hover{
    color: black;
    font-weight: bold;
  }
  p:active{
    color: red;
    font-weight: bold;
  }
  img{
    padding-left: 5px;
  }
  span{
    padding-top: 5px;
  }
}
.activeCategory{
  background-color: #92d774;
}
.activeCatFooter{
  background-color: black;
  border: none;
  border-radius: 2px;
}
@import "footer";




