.pass-reset_form{
  padding: 20px;
  margin: 50px;
  width: 400px;
  height: 300px;
  border: #5b5b5b solid 2px;
  border-radius: 4px;
  background-color: #f4f4f4;
  h1{
    font-size: 20px;
    font-weight: bold;
    color: #5b5b5b;
    margin: 20px 0 40px 0;
    text-align: center;
    user-select: none;
  }
  label{
    display: block;
    margin-bottom: 5px;
    color: #454546;
    font-weight: bold;
    user-select: none;
  }
  input{
    margin: 0;
    padding-left: 5px;
    font-size: 15px;
    width: 360px;
    height: 30px;
    color: #5a5a5b;
  }
  button{
    display: block;
    margin: 40px auto 0 auto;
    width: 240px;
    height: 40px;
    font-size: 18px;
    background-color: #6db661;
    border-radius: 3px;
    color: #3c3f41;
    font-weight: bold;
    user-select: none;
    &:hover {
      cursor: pointer;
      background: linear-gradient(0deg, rgb(37, 138, 33) 50%, rgba(9, 196, 9, 1) 82%);
    }
    &:active {
      background-color: #92d774;
      color: #d5d5da;
    }
  }
}