.sign-up__main{
  #disabled{
    background-color: #6d6d6d;
  }
  #error-confirm{
    margin-left: 190px;
  }
  #error-terms{
    bottom: 100px;
    left: 30px;
  }
  .error_fill-up{
    margin-left: 95px;
    color: red;
    font-size: 17px;
    height: 20px;
    position: absolute;
  }
  .sign-up__main{
    background-color: #f2f2f3;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1280px;

  }
  .sign-up__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    background-color: #424143;
    position: relative;
  }
  .sign-up_img{
    height: 200px;
  }
  h1{
    color: #e1e4e8;
    font-size: 20px;
    align-self: flex-start;
  }
  hr{
    color: white;
    height: 2px;
    width: 100%;
    margin: 8px 0 40px 0;
  }
  label{
    margin-left: 20px;
  }
  .sign-up__all-inputs{
    margin-top: 5px;
    width: 300px;
  }
  .sign-up_email{
    width: 300px;
    margin-top: 5px;
  }
  .sign-up_phone{
    margin-left: 20px;
    padding-left: 5px;
    width: 300px;
    margin-top: 5px;
  }
  #pass1{
    width: 300px;
    margin-top: 5px;
  }
  #pass2{
    width: 300px;
    margin-top: 5px;
  }
  .sign-up_agreement{
    margin: 20px 0;
    color: #e1e4e8;
  }
  .sign-up_submit{
    margin: 20px 0;
    width: 300px;
    height: 40px;
    color: white;
    background-color: #52a452;
    border: none;
    border-radius: 2px;
  }
  .sign-up_submit:hover{
    cursor: pointer;
  }
  .sign-up_submit:active{
    background-color: #a26693;
    color: black;
  }
  .sign-up_submit:disabled {
    background-color: #6d6d6d;
    cursor: not-allowed;
    opacity: 0.7;
  }
  & {
    background-color: #f2f2f3;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1280px;
  }
}








