// SLIDE BAR

.sliders{
  width: 995px;
  display: flex;
  justify-content: space-between;
}
// MAIN SLIDER
.sliders-container{
  order: 2;
  width: 1280px;
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.main-slider{
  .main-slider__wrapper {
    width: 100%;
    max-width: 714px;
    height: 304px;
  }
  .left{
    align-self: center;
    display: flex;
    order:1;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    opacity: 0.76;
    background-color: #303033;
    border-radius: 50%;
    padding: 4px 12px 0 0;
    margin-left: 3px;
    &:hover{
      background-color: white;
    }
    &:active{
      background-color: #e4bc6a;
    }
    div{
      padding: 0 0 3px 6px;
    }
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    order:3;
    width: 38px;
    height: 38px;
    opacity: 0.76;
    background-color: #38383b;
    border-radius: 50%;
    border: none;
    padding-top: 4px;
    padding-left: 10px;
    margin-right: 3px;
    &:hover{
      background-color: white;
    }
    &:active{
      background-color: #e6bd6a;
    }
    div{
      padding-bottom: 3px;
      padding-right: 6px;
    }
  }
  .main-slider__content{
    order:2;
    margin: 130px 0 0 260px;
    width: 329px;
    height: 98px;
    color: white;
    text-align: center;
    }
  .man{
    font-size: 47px;
    font-weight: bold;
    color: white;
    user-select: none;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .title{
    font-size: 25px;
    user-select: none;
  }
  .author{
    font-size: 21px;
    font-weight: bold;
    user-select: none;
  }
}

//SIDE SLIDE BAR
.side-slider{
  width: 269px;
  height: 305px;
  color: #ffffff;
  background-image: url("/img/deal of the month.png");
  .side-slider__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 269px;
    height: 305px;
  }
  #deal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    height: 46px;
    font-size: 27px;
    font-weight: 600;
    user-select: none;
    div{
      font-size: 15px;
      font-weight: 300;
    }
  }
  #save{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    height: 90px;
    font-size: 21px;
    font-weight: 300;
    user-select: none;
    div{
      font-weight: 600;
      font-size: 29px;
      margin-bottom: 6px;
    }
  }
  button{
    display: flex;
    justify-content: center;
    width: 108px;
    height: 30px;
    padding: 2px;
    background-color:#52a452;
    border-radius: 2px;
    color: white;
    text-shadow: 0.5px 0.9px 0 rgba(74, 151, 74, 0.75);

    font-size: 19px;
    &:hover{
      color: #636364;
    }
    &:active{
      background-image: linear-gradient(to top, rgba(61, 253, 1, 0.3), rgba(91, 163, 78, 0.65));
      text-shadow: 1px 1px 2px black;
      color: #e6bd6a;
    }
  }
}
.arrow-right,
.arrow-left,{
  display: block;
  width: 18px;
  height: 18px;
  border-top: 6px solid black;
  border-left: 6px solid black;
}
.arrow-right{
  transform: rotate(135deg);
  margin: 0 8px 3px -6px;
}
.arrow-left{
  transform: rotate(-45deg);
  margin: 0 -6px 3px 8px;
}

