.wishlist-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  background-color: #f4f4f4;
  h1{
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #52a452;
    font-weight: bold;
  }
}
.wishlist_book{
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
  img{
    width: 100px;
  }
  .wishlist_book-title{
    width: 400px;
    color: #3f3f40;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
  }
  .wishlist_book-cost{
    width: 100px;
    color: #52a452;
    font-weight: bold;
  }
}
.wishlist_book-link{
  display: flex;
  align-items: center;
  &:hover{
    background-color: #fdfdfe;
  }
}
#wishlist_book-cost-title{
  color: #3f3f40;
}
.delete-item{
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: block;
  border: none;
  &:hover{
    cursor: pointer;
  }
}